<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page 1</title>
</head>
<style type="text/css">
	.mainTheme {
		color: #f68208;
		font-family: sans-serif;
	}

	.mobile_comp {
		padding: 0% 10% 0% 10%;
	}

	.mainTitle {
		text-align: center;
		margin-top: 20%;
	}

	.smtBtn {
	    margin-top: 10%;
	    width: 100%;
	    color: white;
	    background-color: #f68208;
	    display: inline-block;
	    border: none;
	    padding: 15px 32px;
	    border-radius: 31px;
	}

	.dropdown {
		border: none;
	    border-bottom: 1px solid #f68208;
	    margin-right: 5%;
	}

	.input {
		border: none;
	    border-bottom: 1px solid #f68208;
	}

	div {
		margin-top: 10%;
	}
</style>
<body>

	<div class="mobile_comp" style="padding-bottom: 20%;border-bottom: 1px solid grey;">
		<h1 class="mainTheme mainTitle">MULAH</h1>
		<p style="font-size: 34px;color: #6e6e6e;margin-top: 20%;">Hello, <br>
		Welcome !</p>
		<p class="mainTheme" style="font-size: 10px;">Check Your Loyalty Points & Rewards</p>

		<div>
			<select class="dropdown">
				<option>+60</option>
				<option>+70</option>
				<option>+80</option>
			</select>
			<input class="input" type="number" name="phone" placeholder="Enter your mobile number">
		</div>
		<div>
			<button class="smtBtn">Check Loyalty Points</button>
		</div>
	</div>
	<div style="text-align: center;font-family: sans-serif;">
		<p style="color: grey;">Powered by <a href="#" style="text-decoration:none;">MulahRewards.com</a></p>
	</div>
</body>
</html>